@import '../00_app/mixin.scss';

header {
  margin: 1em 0;

  .header__menu {
    @include box;
    align-items:center;
    justify-content: space-between;

    >:nth-child(1) {
      &:hover * {
        clip-path: polygon(50% 63%, 100% 0, 50% 100%, 0 0);
      }

      @media (max-width: 750px) {
        order: -2;
      }
    }

    nav {
      @import './header__burgerIcon.scss';

      @import './header__navMenu.scss';
    }

    @import './btn__LogIn.scss';
  }
}

