#header__logo {
  font-weight: 400;
  font-size: calc( 25px + 0.3vw);
  margin-left: -0.8vw;
  border-radius: 100%;
  
  span {
    font-weight: 600;
  }
  @media (max-width: 340px) {
    min-height: 60px;
  }
}