@mixin calc--title1 {
  font-size: 22px;
  background-color: white;
  border-radius: 8px;
  color: #3C4260;
  max-width: 380px;
  line-height: 20px;
  padding: auto;
  height: 55px;
  justify-content: center;
  align-items:center;
  display: flex;
  font-weight: 500;
  box-shadow: 0 0 35px rgba(red, 0.3);
  
  img {
    margin-top: -25px;
    background: transparent;
    height: auto;
    width: auto;
    box-shadow: none;
  }

  @media (max-width: 1440px) {
    margin: auto;

    img {
      padding-right: 0;
      margin-top: -15px;
    }
  }

  
  @media (max-width: 360px) {
    font-size: 20px;
  }
}

@mixin calc--title2 {
  font-size: calc(var(--index) * .8 + 0.7em);
  font-weight: 600;
  max-width: 10em;
  @media (max-width: 1440px) {
    max-width: none;
  }
}

@mixin calc--title3 {
  font-size: calc(var(--index) * .5 + 0.25em);
  font-weight: 400;
  max-width: 18em;
  @media (max-width: 1440px) {
    max-width: none;
    margin: 0 7vw;
  }
  @media (max-width: 650px) {
    
  }
}

@mixin calc--title4 {
  font-size: calc(var(--index) * .1 + 0.6em);
  font-weight: 300;
  max-width: 22em;
  @media (max-width: 1440px) {
    max-width: none;
  }
}