@import '../00_app/mixin.scss';

#questions {
  @include section;
  position: relative;
  padding: 35px;

  @media (max-width: 425px) {
    margin-bottom: 0;
  }

  >:nth-child(1) {
    @include boxStretch;
    flex-shrink: 1;

    #questions__title {
      @include title;
      z-index: 1;

      @media (max-width: 425px) {
        margin: 20px 0;
      }
    }
  
    >:nth-child(2) {
      display: flex;
      flex-direction: column;
      text-align: start;
      gap: 5px;

      @media (max-width: 1440px) {
        margin: 0;
      }

      input {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
      
      @import './questions__item.scss';
    }
  }
}